[Unit]
Description=PulseAudio S/PDIF Receiver Service
After=pulseaudio.service
BindsTo=pulseaudio.service

[Service]
Type=simple
;ExecStart=/bin/bash -c "(while true; do arecord -D hw:CARD=sndrpihifiberry,DEV=0 -q -C -f s16_le -c 2 -t raw --disable-channels --disable-format --disable-resample --disable-softvol 2>/dev/null; done) | pareceive -"
ExecStart=/usr/local/bin/pareceive
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
